@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media (min-width: 360px){
    body{
        background: rgb(102,0,172);
background: linear-gradient(90deg, rgba(102,0,172, 1) 0%, rgba(117,0,112,1) 100%);
        overflow-y: hidden;
    }

    .modal-overlay{
        opacity: 0;
        visibility: hidden;
    }

    .modal-overlay.active{
        opacity: 1;
        visibility: visible;
        transition: all 0.2 ease-in;
    }

    .modal-overlay{
        transition: all 0.2s ease-in;
    }

    #more-calculators{
        position: absolute;
        top: 0px;
        width: 100vw;
        height: 100vh;
        background: #1A1D24;
        z-index: 10;
        
    }

    #more-calculators h3{
        text-align: center;
        margin-top: 37px;
        font-weight: bold;
    }
    
    #more-calculators p{
        font-weight: bold;
        font-size: 25px;
    }

    #close{
        padding: 10px;
        padding-left: 18px;
    }
    #calc-box-div{
        display: flex;
        justify-content: space-around;
        margin-top: 50%;
    }

    .calc-box{
        padding: 22px 0px 22px 0px;
        text-align: center;
        width: 73px;
        height: 73px;
        background: #5800E9;
        box-shadow: 1px 2px 4px 0px #000;
    }

    .selected{
        background: rgb(233,0,129);
background: linear-gradient(130deg, rgba(233,0,129, 1) 0%, rgba(88,0,233,1) 100%);
    }

    #header-div{
        width: 100vw;
        height: 274px;
        background: rgb(88,0,233);
background: linear-gradient(140deg, rgba(88,0,233,1) 0%, rgba(117,0,112,1) 93%);
        color: #fff;
        font-family: 'Montserrat', sans-serif;
    }

    #resul-frame{
        width: 100%;
        height: 100%;
        padding: 15px;
        letter-spacing: 5px;
    } 
    #resul-frame img{
        min-width: 24px;
        min-height: 24px;
        max-width: 50px;
        max-height: 50px;
        width: 6%;
        height: 6%;
    }

    #img-2{
        width: 6%;
        height: 6%;
        align-self: flex-end;
    }

    #img-group-1{
        display: flex;
        justify-content: space-between;
    }
    .break{
        flex-basis: 100%;
        height: 0;
    }

    
    #img-group-2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        height: 80%;
    }

    #resul{
        align-self: center;
        font-weight: bold;
    }

    #img-3{
        align-self: flex-start;
    }
    /*End Header*/

    /*Main*/
    Main img{
        width: 37px;
        height: 37px;
    }
    #main-div{
        width: 100%;
        height: 100vh;
        background-color: #1A1D24;
        border-radius: 10px 10px 0px 0px;
        padding: 15px;
        font-weight: bold;
    }

    #first-button-group{
        
        width: 76%;
        height: 54px;
        
    }

    .button-groups{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px 0px 20px;
        background-color: #14171E;
        border-radius: 10px;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5em;
    }

    #second-button-group{
        position: relative;
        margin-left: 80%;
        bottom: 55px;
        flex-direction: column;
        width: 62px;
    }

    #second-button-group > p{
        margin-bottom: 18px;
        margin-top: 18px;
    }

    #numeric-keyboard{
        display: flex;
        flex-wrap: wrap;
        width: 76%;
        height: 45%;
        position: relative;
        bottom: 255px;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        padding: 0px 20px 0px 20px;
    }

    #numeric-keyboard div{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }


    #one-two-three{
        margin-left: 8px;
    }

    #zero{
        margin-left: 8px;
    }

    #equal{
        display: flex;
        width: 52px;
        height: 44px;
        background: rgb(233,0, 129, 100%);
background: linear-gradient(140deg, rgb(233,0, 129, 100%) 0%, rgba(88,0,233,1) 93%);
        color: #fff;
        position: absolute;
        top: 43vh;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        font-size: 36px;
        font-weight: bold;
    }

    .gradient{
       background-image: linear-gradient(to bottom, #E90081, #5800E9);
       background-clip: text;
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       color: #000;
    }

    #moreandminus{
        font-size: 15px;
    }

    #eight{
        margin-left: 5px;
    }
    /*End Main*/
}

@media(min-width: 768px){

    html{
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }
    /*HEADER*/
        #img-1{
            display: none;
        }

        #img-group-1{
            display: flex;
            justify-content: flex-end;
        }

        #img-group-1{
            width: 100vw;
        }

        #img-3{
            position: absolute;
            top: 15px;
        }
    /*END HEADER*/

    /*MAIN*/
        #main-div{
            position: absolute;
            top: 200px
        }

        #first-button-group{
            width: 40%;
            margin: 0 auto;
            justify-content: space-around;
        }

        #second-button-group{
            bottom: -20px;
        }

        #numeric-keyboard{
            width: 45%;
            margin: 0 auto;
        }

        #equal{
            width: 500%;
            right: 195%;
        }
        
    /*END MAIN*/
}
